body {
  margin: 2rem;
  font-family: 'Fjord One';
  background-color: rgb(247, 243, 243);
  scroll-behavior: smooth;

}
.parent {
  display: flex;
  justify-content: center;
}
.btn, .btn-2{
  background-color: rgba(24, 164, 245, 0.637);
  border: none;
  padding: 0.5rem 3rem;
  position: relative;
  margin: 1rem;

}
.btn:hover, .btn-2:hover {
  text-decoration: underline;
  background-color: cornflowerblue;
  cursor: pointer;
}