body {
  margin: 2rem;
  font-family: 'Fjord One';
  background-color: rgb(247, 243, 243);
  scroll-behavior: smooth;

}
.parent {
  display: flex;
  justify-content: center;
}
.btn, .btn-2{
  background-color: rgba(131, 128, 128, 0.637);
  border: none;
  padding: 0.5rem 3rem;
  position: relative;
  margin: 1rem;
  color: rgb(255, 255, 255);

}
.btn:hover, .btn-2:hover {
  text-decoration: underline;
  background-color: rgb(0, 0, 0);
  cursor: pointer;
}